/*=================== Global Variables =======================*/

:root {
  --container-max: 980px;
  --primary-color: rgba(13, 110, 139, 0.75);
  --secondary-color: #0a84b5;
  --primary-txt-color: #00172b;
  --secondary-txt-color: #0a84b5;
  --primary-overlay-color: rgba(0, 0, 0, 0.2);
  --secondary-overlay-color: rgba(0, 0, 0, 0.9);
  --menu-speed: 0.75s;
}

/*=================== Text colors =======================*/
.text-primary {
  color: var(--primary-txt-color);
}

.text-secondary {
  color: var(--secondary-txt-color);
}

/*=================== Button & Backgrounds =======================*/

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: var(--primary-txt-color);
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: var(--primary-txt-color);
  color: #fff;
}

.btn.secondary,
.bg-secondary {
  background: #0284d0;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

.btn-light,
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

.bg-medium {
  background: #f6f6f6;
}

.py-1 {
  padding: 0 50px;
}
/*=================== Flex items =======================*/

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/*=================== Flex columns =======================*/

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column-1,
.flex-columns .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

/*=================== Section header =======================*/

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.underline {
  width: 150px;
  height: 3px;
  margin-bottom: 15px;
  background: linear-gradient(
    to right,
    rgba(221, 76, 112, 0.1),
    var(--primary-txt-color),
    rgba(221, 76, 112, 0.1)
  );
}

.section-padding {
  padding: 0 20px 40px 20px;
}

.section-margin {
  margin: 100px 100px;
}

/*=================== Flex grid =======================*/

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/*=================== Load More =======================*/

.content-lm {
  /* height: 100px;
  width: 45%;
  color: #fff;
  font-size: 24px;
  line-height: 100px; 
  text-align: center;
  background-color: grey;
  margin: 5px;
  border: 1px solid lightgrey; */
  display: none;
}

#loadMore {
  width: 150px;
  display: block;
  background-color: var(--secondary-color);
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 2em;
  border: 1px solid transparent;
  transition: 0.3s;
}

#loadMore:hover {
  text-decoration: none;
  background: var(--primary-color);
}

.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}


.content-lm {
  text-align: center;
  /* font-size: 1.5em;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.7s ease-out;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff; */
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}
